*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../img/garrett-the-master-thief-wallpaper-preview.jpg);
    background-size: cover;
    font-family: 'Rubik', sans-serif;
}
.kutu{
    width: 500px;
    height: 500px;
    background: rgba(0, 0,0,0.3);
    margin: auto;
    margin-top: 5%;
    text-align: center;
    padding-top: 30px;
    color: aliceblue;
    


}
.img-kutu{
    width: 240px;
    height: 240px;
}
h1{
    margin-bottom: 20px;
    text-align: center;
}
.logo{
   
    margin-top: 20px;
    text-align: center;
   
    
}
h2{
    margin-top: auto;
    text-align: center;
    margin-bottom: 20px;

}
.a1{
   margin-right: 12px;
}
.a2{
    margin-right: 12px;
 }